/*******************************************************************************
* Variables
***************************************************************************** */
:root {
  /* Callout Colors */
  --color-primary-cool-light: #f8f8fe;
  --color-primary-cool-semi-transparent: rgba(11, 117, 203, .15);
  --color-primary-cool: rgb(0, 105, 168);

  /* Utility Colors */
  --color-utility-black: rgb(0, 0, 0);
  --color-utility-charcoal: rgb(35, 35, 35);
  --color-utility-dove: rgb(100, 100, 100);
  --color-utility-milk: rgb(238, 238, 238);
  --color-utility-pure: rgb(255, 255, 255);

  /* Effects */
  --color-effect-ghost: rgba(0, 0, 0, .1);

  /* Settings */
  --radius-corners: 4px;
  --typeface: helvetica, arial, sans-serif;

  /* Font sizes */
  --font-size--marcus: 1.6em;
  --font-size--maria: 1.2em;
  --font-size--saya: .7em;
  --font-size--billy: .9em;

  /* Layout */

  /*
  These 3 width values must be kept in sync with magic number in the media
  queries below. Search for "Magic number".
  */
  --layout-width--sidebar: 12em;
  --layout-width--main: 45em;
  --layout-width--container: calc(var(--layout-width--sidebar) + var(--layout-width--main));

  --header-height: 3em;

  --header-z-index: 1;
  --sidebar-z-index: 1;

  /* Link style */
  --link-box-shadow--hover: inset 0 -2px 0 0 currentColor;

  --outline--focus: 2px dotted var(--color-primary-cool);
}

/*******************************************************************************
* Resets
***************************************************************************** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  /* cosmetics */
  outline: var(--outline--focus);
}

body {
  font-family: var(--typeface);
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

/* Hide scrollbar in Edge */
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

blockquote,
pre {
  margin: 0;
}

input,
textarea,
select,
button {
  font-size: inherit;
}

hr {
  /* cosmetics */
  border: 0;
  border-bottom: 2px solid var(--color-utility-milk);
  margin-bottom: 1em;
}

textarea::-webkit-input-placeholder {
  /* cosmetics */
  color: rgba(0, 0, 0, .5);
}

a {
  /* cosmetics */
  color: var(--color-primary-cool);
  text-decoration: none;
}

a:hover {
  /* cosmetics */
  box-shadow: var(--link-box-shadow--hover);
}

button {
  font-family: inherit;
}

/*******************************************************************************
* Utility
***************************************************************************** */

/* Notes:
 * 1. Leaving this empty for now
 */

/* Font Sizes *************************************************************** */
.u-font-size--lin {
  /* 1 */
}

.u-font-size--marcus {
  font-size: var(--font-size--marcus);
}

.u-font-size--maria {
  font-size: var(--font-size--maria);
}

.u-font-size--saya {
  font-size: var(--font-size--saya);
}

.u-font-size--billy {
  font-size: var(--font-size--billy);
}

.u-font-size--willie {
  /* 1 */
}

.u-font-size--petra {
  /* 1 */
}

.u-hidden--visually {
  border: 0 !important;
  clip-path: inset(50%) !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

html.macos .u-hide-if-mac,
html:not(.macos) .u-show-if-mac {
  display: none !important;
}

/*******************************************************************************
* Components
***************************************************************************** */

html {
  scroll-padding-top: calc(var(--header-height) + 1em);
}

.c-layout {
  min-height: calc(100vh - var(--header-height));
}

.c-layout__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: var(--header-z-index);

  border-bottom: 1px solid var(--color-utility-milk);
  background-color: var(--color-utility-pure);

  padding: 0 1em;

  display: flex;
  justify-content: center;
}

.c-layout__main-container {
  margin-top: var(--header-height);
}

/* Site header */

.c-header {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}

.c-header__item {
  flex: 0 0 auto;
  padding-top: .4em;
  padding-bottom: .4em;

  border-radius: var(--radius-corners);
  color: var(--color-utility-black);
}

.c-header__item:hover {
  box-shadow: none;
}

.c-header__item--call-to-action {
  display: none;

  padding-left: .8em;
  padding-right: .8em;

  color: var(--color-utility-pure);
  background-color: var(--color-primary-cool);
}

/* navigation */

.c-nav {
  display: none;

  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;

  padding: 2em;

  background-color: var(--color-utility-pure);
}

#menu-checkbox:focus ~ #menu-toggle {
  outline: var(--outline--focus);
}

#menu-toggle {
  position: absolute;
  left: 1em;
}

#menu-checkbox:checked ~ #menu-toggle {
  box-shadow: var(--link-box-shadow--hover);
}

#menu-checkbox:checked ~ .c-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-nav__link-list {
  margin: 0;
  padding: 0;
  margin-left: 1em;
  list-style: none;
}

.c-nav__link-list [aria-current="page"] {
  box-shadow: var(--link-box-shadow--hover);
}

/* Post tags */

.c-tag-list {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.c-tag {
  padding: .25em;

  border-radius: var(--radius-corners);
  background-color: var(--color-utility-milk);
  text-transform: capitalize;
}

/* Post dates */
.c-post-date {
  color: var(--color-utility-dove);
}

/* Post content - this is generated by markdown */

.c-post h2,
.c-post h3,
.c-post h4,
.c-post h5,
.c-post h6 {
  font-weight: bold;
}

.c-post h2 {
  font-size: var(--font-size--marcus);
}

.c-post h3 {
  font-size: var(--font-size--maria);
}

/* inline code blocks */
.c-post code {
  padding-left: .25em;
  padding-right: .25em;
  background-color: var(--color-utility-milk);
}

/* backtick code blocks */
.c-post pre {
  padding-left: .25em;
  padding-right: .25em;
  background-color: var(--color-utility-milk);
}

.c-post pre > code {
  /*
  Remove padding when code is in a pre, pre has the necessary horizontal padding
  */
  padding-left: 0;
  padding-right: 0;
}


/* Guide content - this is generated by markdown */

.c-guide h2,
.c-guide h3,
.c-guide h4,
.c-guide h5,
.c-guide h6 {
  font-weight: bold;
}

.c-guide h2 {
  font-size: var(--font-size--marcus);
}

.c-guide h3 {
  font-size: var(--font-size--maria);
}

/* inline code blocks */
.c-guide code {
  padding-left: .25em;
  padding-right: .25em;
  background-color: var(--color-utility-milk);
}

/* backtick code blocks */
.c-guide pre {
  padding-left: .25em;
  padding-right: .25em;
  background-color: var(--color-utility-milk);
}

.c-guide pre > code {
  /*
  Remove padding when code is in a pre, pre has the necessary horizontal padding
  */
  padding-left: 0;
  padding-right: 0;
}

.c-guide__figure {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

/* Auto-generated heading links */

.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* List of posts */

.c-post-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.c-post-list__link {
  display: block;
}

@media screen and (min-width: 600px) {
  .c-post-list__link {
    display: inline;
  }
}

/* Home page */

.c-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.c-home > * + * {
  margin-top: 1em;
}

.c-home__first-links {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;

  flex: 0 0 6em;
}

.c-home__first-link {
  padding: .5em .8em .4em .8em;
  margin-left: .5em;
  margin-right: .5em;

  border-radius: var(--radius-corners);
  color: var(--color-utility-black);
  background-color: var(--color-utility-pure);
  border: 1px solid var(--color-utility-milk);
}

.c-home__first-link:hover {
  box-shadow: none;
}

.c-home__first-link--call-to-action {
  color: var(--color-utility-pure);
  background-color: var(--color-primary-cool);
}

.c-home__features {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.c-main {
  padding: 2em;
}

.c-prev-next {
  display: flex;
}

.c-prev-next__item {
  flex: 0 0 auto;
}

.c-prev-next__item--prev::before {
  content: '« ';
}

.c-prev-next__item--next::after {
  content: ' »';
}

.c-prev-next__greedy-spacer {
  flex: 1 1 100%;
}

@media screen and (max-width: 399px) {
  .c-prev-next__sequence-label {
    /* hide visually */
    border: 0 !important;
    clip-path: inset(50%) !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}

/* hotkey */

.c-hotkey {
  display: inline-flex;
  padding-bottom: .2em;
  padding-top: .2em;
  align-items: center;
  justify-content: center;
}

.c-hotkey > * + * {
  margin-left: .25em;
}

.c-hotkey__key {
  display: inline-flex;
  align-items: center;
  font-size: .8em;
  padding: 0 .75em;
  vertical-align: middle;
  transform: translateY(0);
  min-height: 2em;

  /* cosmetics */
  background-color: var(--color-utility-milk);
  border-radius: var(--radius-corners);
  border: 1px solid var(--color-effect-ghost);
  box-shadow: 0 .2em 0 0 var(--color-effect-ghost);
  color: var(--color-utility-charcoal);
  font-weight: bold;
}

/* Command table */

.c-shortcut-table {
  min-width: min(20em, 100%);
  border-spacing: 0;
  border-collapse: collapse;
}

.c-shortcut-table thead tr {
  background-color: var(--color-utility-milk);
}

.c-shortcut-table tbody tr:nth-child(odd) {
  background-color: var(--color-utility-pure);
}

.c-shortcut-table tbody tr:nth-child(even) {
  background-color: var(--color-utility-milk);
}

.c-shortcut-table td,
.c-shortcut-table th {
  padding: .25em 1em;
  text-align: center;
}

/* Figure */

/*
 * 1. figure width is determined by its content
 * 2. Browser style reset
 */

.c-figure {
  display: inline-block; /* 1 */
  margin-top: 0; /* 2 */
  margin-bottom: 0; /* 2 */
}

.c-figure__content {
  border: 1px solid var(--color-utility-milk);
}

.c-figure__caption {
  color: var(--color-utility-dove);
  text-align: center;
}

.c-page h1,
.c-page h2,
.c-page h3,
.c-page h4,
.c-page h5,
.c-page h6 {
  font-weight: bold;
}

.c-page h2 {
  font-size: var(--font-size--marcus);
}

.c-page h3 {
  font-size: var(--font-size--maria);
}

/* Skip nav link */

#skipnav {
  --skipnav-slide-in-time: 0.3s;

  position: fixed;
  top: 0;
  left: 20%;
  z-index: calc(var(--header-z-index) + 1);

  padding-top: .4em;
  padding-bottom: .4em;

  transform: translateY(-100%);
  /* hide faster than it shows */
  transition: transform calc(var(--skipnav-slide-in-time) / 3);

  background-color: var(--color-utility-pure);
}

#skipnav:focus {
  transform: translateY(0%);
  transition: transform var(--skipnav-slide-in-time);
}

@media (prefers-reduced-motion) {
  #skipnav {
    transition: none !important;
  }
}

@media screen and (min-width: 600px) {
  .c-home__features {
    flex-wrap: nowrap;
  }

  .c-feature + .c-feature {
    flex: 1 1 100%;
    margin-left: 2em;
  }
}

@media screen and (min-width: 769px) {
  .c-layout__main {
    /* shift to the right to make space for sidebar */
    padding-left: var(--layout-width--sidebar);
  }

  .c-nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: unset;
    width: var(--layout-width--sidebar);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1em;

    border-right: 1px solid var(--color-utility-milk);
  }

  .c-main {
    padding: 1em;
  }

  .c-header {
    justify-content: space-between;
  }

  .c-header__item--call-to-action {
    display: unset;
  }

  #menu-toggle,
  #menu-checkbox {
    display: none;
  }
}

/*
Magic number for breakpoint:
var(--layout-width--container) converted to px using base font-size
*/
@media screen and (min-width: 1026px) {
  .c-nav {
    left: calc((100vw - var(--layout-width--container)) / 2);
  }

  .c-layout__main-container {
    max-width: var(--layout-width--container);
    margin-left: auto;
    margin-right: auto;
  }

  .c-header {
    max-width: var(--layout-width--container);
  }
}
