---
layout: layouts/home.njk
---

<div class="c-home">
  <img src="/img/logo192.png" alt="Comic Writer Logo" />

  <div>ComicWriter is a web application for producing North American style comic scripts.</div>

  <div class="c-home__first-links">
    <div>
      <a class="c-home__first-link c-home__first-link--call-to-action" href="https://comicwriter.io">Try ComicWriter</a>
    </div>
    <div>
      <a class="c-home__first-link" href="/guide/">Writer's Guide</a>
    </div>
  </div>

  <div class="c-home__features">
    <div class="c-feature">
      <h2 class="u-font-size--maria">Efficient</h2>
      <p>
        Reduce the friction of writing comics through automation and sensible defaults.
      </p>
    </div>
    <div class="c-feature">
      <h2 class="u-font-size--maria">Private</h2>
      <p>
        Your scripts are <em>only</em> stored on your computer. No user accounts, no tracking cookies. <a href="/privacy-policy/">We respect your privacy</a>.
      </p>
    </div>
    <div class="c-feature">
      <h2 class="u-font-size--maria">Free</h2>
      <p>
        This is a free tool for everyone. Free as in Free Comic Book Day.
      </p>
    </div>
  </div>
</div>
