---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: "{{ tag | capitalize }}"
permalink: "{{ tag | tagUrl }}/"
---

{% PostList {
  posts: collections[tag]
}%}
