---
# Needed because this is in the blog posts directory but it isn't a post
eleventyExcludeFromCollections: true
layout: layouts/page.njk
title: Project Blog
---

{% PostList {
  posts: collections.posts
}%}
