<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + ' | ComicWriter' if title else 'ComicWriter - Adventure Starts Here' }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script>
      document.querySelector('html').classList.add(
        /Mac/.test(navigator.platform) ? 'macos' : 'no-macos'
      );
    </script>
  </head>
  <body>
    <a id="skipnav" href="#main-content">Skip to main content</a>
    <div class="c-layout">
      <div class="c-layout__header">
        <header class="c-header">
          <input id="menu-checkbox" type="checkbox" class="u-hidden--visually">
          <label id="menu-toggle" for="menu-checkbox">
            <span class="u-hidden--visually">Toggle</span> Menu
          </label>

          <h1>
            <a href="/" class="c-header__item">{{metadata.title}}</a>
          </h1>

          <a
            href="https://comicwriter.io"
            class="c-header__item c-header__item--call-to-action"
          >
            Write comics<span aria-hidden="true"> &#8594;</span>
          </a>
          {% Nav {
            currentUrl: page.url,
            posts: collections.posts
          }%}
        </header>
      </div>
      <div class="c-layout__main-container">
        <div class="c-layout__main">
          <main class="c-main" id="main-content">
            {{ content | safe }}
          </main>
        </div>
      </div>
    </div>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
