---
layout: layouts/base.njk
---

<h1 class="u-hidden--visually">Writer's Guide</h1>
<section class="c-guide">
  <h2>{{title}}</h2>
  {{ content | safe }}
</section>

{% PrevNext {
  prev: collections.guidePages | getPreviousCollectionItem(page),
  next: collections.guidePages | getNextCollectionItem(page)
}%}
