---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="c-post">
  <h2>{{ title }}</h2>
  {% PostDate {date: page.date} %}
  {{ content | safe }}
</article>

{% PrevNext {
  prev: collections.posts | getPreviousCollectionItem(page),
  next: collections.posts | getNextCollectionItem(page)
}%}
